ul.active {
    display: block;
}

.menu-list {
    display: none;
    background-color: red;
}
.wrapper {
    width: 100%;
    height: 1000px;
    background-color: azure;
    position: relative;
}
.circle {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    transition: all 1s;
    background-color: aquamarine;
    position: absolute;
    top: 50%;
    left: 50%;
}
/*task 6*/
.list {
    position:relative;
    background-color: palegreen;
}
.close{
    cursor: pointer;
    position: absolute;
    color: red;
    right: 0px;
    top: 0px;
}
.listItem {
    position:relative;
    border: 1px solid chartreuse;
}
.hidden {
    display:none
}